<body style="background-color:powderblue;">
    <br />
    <style>
        h1 {
            text-align: center;
        }
    </style>

    <div class="login-form">
        <form #applyloan="ngForm" (ngSubmit)="OnSubmitApply(applyloan)">
            <h1>Apply for Loan</h1>
            <div class="content">
                <div class="input-field">
                    <input type="text" ngModel name="loanType" placeholder="Loan Type" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="number" ngModel name="loanAmount" placeholder="Loan Amount" autocomplete="nope">
                </div>


            </div>
            <div class="action">
                <button>Apply</button>
            </div>
        </form>
    </div>
    <br />
</body>