<body style="background-color:powderblue;">
    <br />
    <style>
        h1 {
            text-align: center;
        }
    </style>

    <div class="login-form">
        <form>
            <h1>Apply for Loan</h1>
            <div class="content">
                <div class="input-field">
                    <input type="text" placeholder="Loan Type" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="number" placeholder="Loan Ammount" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Customer Name" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="number" placeholder="Monthly Income" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Gender" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="number" placeholder="Age" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Address" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="number" placeholder="Phone Number" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Email ID" autocomplete="nope">
                </div>


            </div>
            <div class="action">
                <button>Apply</button>
            </div>
        </form>
    </div>
    <br />
</body>