<body style="background-color:powderblue;">
    <br />
    <style>
        h1 {
            text-align: center;
        }
    </style>

    <div class="login-form">
        <form #calculate="ngForm" (ngSubmit)="OnCalculateEmi(calculate)">
            <h1>EMI Calculator</h1>
            <div class="content">
                <div class="input-field">
                    <input type="number" ngModel name="loanamount" placeholder="Loan Amount" autocomplete="nope">
                </div>

                <div class="input-field">
                    <input type="number" ngModel name="interestrate" placeholder="Annual Interest Rate"
                        autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="number" ngModel name="tenure" placeholder="Loan tenure in Months" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="text" ngModel placeholder="RESULT" name="result" value={{result.toString()}}
                        disabled="disabled" autocomplete="nope">
                </div>
            </div>
            <div class="action">
                <button>Calculate</button>
            </div>
        </form>
    </div>
    <br />
</body>