<body style="background-color:powderblue;">
    <br />
    <style>
        h1 {
            text-align: center;
        }
    </style>

    <div class="login-form">
        <form>
            <h1>Change Password</h1>
            <div class="content">
                <div class="input-field">
                    <input type="password" placeholder="Old password" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="New Password" autocomplete="new-password">
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Confirm New Password" autocomplete="new-password">
                </div>
            </div>
            <div class="action">
                <button>Confirm</button>
            </div>
        </form>
    </div>
    <br />
</body>